<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectname">Project Name</label>
          <input type="text" name="projectname" id="projectname" class="form-control" formControlName="projectname">
          <span class="help-block text-danger" *ngIf="!signupForm.get('projectname')?.valid && signupForm.get('projectname')?.touched">Please enter a valid Project Name!</span>
        </div>

        <div class="form-group mt-1">
          <label for="email">Mail</label>
          <input type="email" name="email" id="email" class="form-control" formControlName="email">
          <span class="help-block text-danger" *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched">Please enter a valid email!</span>
        </div>

        <div class="form-group mt-1">
          <label for="status">Project Status</label>
          <select name="status" class="form-control" id="status" formControlName="status">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>

        <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block text-danger">
          Please enter a valid data!
        </span>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>

      </form>

    </div>
  </div>
</div>